.about-me-layaout{
    padding: 100px 0;
}
.about-me-title{
    text-align: center;
}
.about-me-description{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    display: block;
}
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
} 
.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.projects {
    padding: 100px 0;
    background: #34547A;
}
.projects-content{
    color: white;
    width: 50%;
    float: left;

}
.projects-item {
    width: 16.6%;
    float: left;
}
.projects-icon{
    float: left;
    margin-right: 10px;
}
.projects-title{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 21px;
}
.projects-description{
    font-size: 21px;
}
.work{
    background: #EEEFF1;
    padding-top: 100px;
    padding-bottom: 100px;
}
.how-i-work-layout{
    text-align: center;
    
}
.how-i-work-title{
    text-align: center;
}
.how-i-work-description{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    display: block;
}
.rectangle5-icon{
    width: 600px;
    height: 310px;
}
.how-i-work-item{
    margin-top: 30px;
    margin-bottom: 100px;
}
/*.test{
    height: 100vh;
    width: 100vw;
    background-color:orange;
    background-image: url("bonitaperra.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    /*background-position: 20% 50%;*/
    }

.gallery {

}

.gallery-item-paper{
    float: left;
    width: 25%;
    height: 480px;
    background-image: url("paper-icon.png");
    position: relative;
}

.gallery-item-laptop{
    float: left;
    width: 25%;
    height: 480px;
    background-image: url("laptop-icon.png");
    position: relative;

}
.gallery-item-shadow{
    position: absolute;
    background:rgb(12 27 107 / 44%);
    height: 100%;
    width: 100;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    opacity: 0;
    transition: 1s all ease-in;
}
.gallery-item-shadow:hover{
    opacity:1;
}

.skills-proof{
    
}
.portrait-icon{
    width: 555px;
    height: 450px;
    
}
.skills-layout{
    margin:50px 100px;
}
.skills-block{

}
.microsoft-icon{
    float: left;
    width: 155px;
    height: 60px;
}
.fourmicrosofts{
    margin: 0 auto;
    width: 1100px;
    height: 120px
}
.white{
    
}